[ req ]
prompt             = no
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = SelfieCertState
localityName               = SelfieCertCity
organizationName           = SelfieCert
commonName                 = SelfieCert
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = *.loc
DNS.2   = *.minishift.loc
DNS.3   = localhost
DNS.4   = *.localhost